.App {
  display: flex;
  justify-content: space-around;
  background-color: #15202b;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
  position: relative;
  background-color: #15202b;
  width: 100%;
}

.nav {
  position: fixed;
  padding-right: 60px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 14px;
  padding-right: 14px;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
  padding-bottom: 12px;
}

/* -------------------- icon section -------------------- */

.fa {
  font-size: 30px;
  height: 25px;
  width: 25px;
}

.fa-twitter {
  color: #fff;
  font-size: 30px;
  height: 25px;
  width: 25px;
}

/* .fa-hashtag {
  font-weight: 100;
  font-size: 30px;
  height: 25px;
  width: 25px;
} */

.fa-cog {
  color: rgb(29, 161, 242);
  font-size: 23px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.fa-comment-o {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #888;
}

.fa-comment-o:hover {
  color: rgb(29, 161, 242);
  background-color: #1e3d57;
  border-radius: 100px;
}

.fa-retweet {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #888;
}

.fa-retweet:hover {
  color: rgb(29, 242, 100);
  background-color: #1e3d57;
  border-radius: 100px;
}

.fa-heart-o {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #888;
}

.fa-heart-o:hover {
  color: rgb(242, 29, 93);
  background-color: #1e3d57;
  border-radius: 100px;
}

.fa-share {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #888;
}

.fa-share:hover {
  color: rgb(29, 161, 242);
  background-color: #1e3d57;
  border-radius: 100px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(29, 161, 242);
  font-size: 20px;
  height: 45px;
  width: 45px;
}

.icon:hover {
  background-color: #1e3d57;
  border-radius: 100%;
}

.fa-smile-o {
  font-size: 25px;
}

/* ------------------ end icon section ------------------ */

.nav-list {
  height: 45px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 19px;
  font-stretch: 100%;
  font-weight: 800;
}

.nav-list:hover {
  color: rgb(29, 161, 242);
  background-color: #1e3d57;
  border-radius: 25px;
}

.nav-text__button {
  margin-top: 15px;
  margin-bottom: 15px;
  border-style: none;
  border-radius: 100px;
  background-color: rgb(29, 161, 242);
  height: 45px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.nav-text__button:hover {
  background-color: rgb(25, 145, 219);
  -webkit-transform: 2s;
  transform: 2s;
}

.main {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgb(21, 32, 43);
  border-left: 0.5px solid rgb(56, 68, 77);
  border-right: 0.5px solid rgb(56, 68, 77);
  width: 150%;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  border-bottom: 0.5px solid rgb(56, 68, 77);
  font-size: 19px;
  font-stretch: 100%;
  font-weight: 900;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 15px;
}

.status {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid rgb(56, 68, 77);
}

.status-component {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.status-icon__component {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.status-icon {
  display: flex;
  flex-direction: row;
}

.button-component {
  display: flex;
  padding-right: 10px;
}

.status-button {
  width: 100px;
  display: flex;
  border-style: none;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgb(29, 161, 242);
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.status-button:hover {
  background-color: rgb(25, 145, 219);
  -webkit-transform: 2s;
  transform: 2s;
}

.user {
  padding: 15px;
  display: flex;
}

.user-icon {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.userId {
  color: #888;
  margin-left: 7px;
}

.new-tweet {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  color: #fff;
}

.new-tweet::placeholder {
  color: rgb(212, 212, 212);
}

.break {
  height: 8px;
  background-color: rgb(56, 68, 77);
}

.feed {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid rgb(56, 68, 77);
}

.feed:hover {
  background-color: rgb(30, 44, 56);
  cursor: pointer;
}

.user-component {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.tweet-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.user-data {
  display: flex;
}

.user-status {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.upload-img {
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(56, 68, 77);
  width: 100%;
  height: 300px;
}

.user-status__button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 85%;
}

.aside {
  display: flex;
  justify-content: flex-start;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(21, 32, 43);
  width: 100%;
}

.sidebarColumn {
  position: fixed;
  height: 100vh;
  /* width: 80%; */
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 100px;
  background-color: rgb(37, 51, 65);
}

.search-icon {
  margin-left: 15px;
  background-color: #888;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}

.search {
  color: #fff;
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  border-style: none;
  outline: none;
  padding-left: 15px;
}

.search::placeholder {
  color: rgb(160, 160, 160);
}

.trend-section {
  margin-top: 20px;
  border-radius: 25px;
  height: 50%;
  background-color: rgb(30, 44, 56);
}

.trend-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(56, 68, 77);
}

.trend-header {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
}

.suggestion {
  border-radius: 25px;
  height: 30%;
  background-color: rgb(30, 44, 56);
}
